<launch>
    <arg name="world_file" default="$(env GYM_GAZEBO_WORLD_OBS_1)" />
    <arg name="base" value="$(optenv TURTLEBOT_BASE kobuki)" /> <!-- create, roomba -->
    <arg name="battery" value="$(optenv TURTLEBOT_BATTERY /proc/acpi/battery/BAT0)" /> <!-- /proc/acpi/battery/BAT0 -->
    <arg name="paused" value="true" />
    <arg name="gui" default="true" />
    <arg name="headless" value="true" />
    <arg name="stacks" value="$(optenv TURTLEBOT_STACKS hexagons)" /> <!-- circles, hexagons -->
    <arg name="3d_sensor" value="$(optenv TURTLEBOT_3D_SENSOR kinect)" /> <!-- kinect, asus_xtion_pro -->
    <arg name="ROBOT_INITIAL_POSE0" value="-x 0.5 -y 0.5" />

    <arg name="OBSTACLE_INITIAL_POSE0" value="-x 3 -y 1 " />
    <arg name="OBSTACLE_INITIAL_POSE1" value="-x 3 -y 3.5 " />
    <arg name="OBSTACLE_INITIAL_POSE2" value="-x 2 -y 2 " />
    <arg name="OBSTACLE_INITIAL_POSE3" value="-x 4 -y 4 " />

    <arg name="TARGET_INITIAL_POSE0" value="-x 3 -y 2 " />
    <arg name="TARGET_INITIAL_POSE1" value="-x 4 -y 7 " />
    <arg name="TARGET_INITIAL_POSE2" value="-x 2 -y 6 " />
    <arg name="TARGET_INITIAL_POSE3" value="-x 3 -y 5 " />

    <arg name="ROBOT_INITIAL_POSE1" value="-x 3 -y 2 " />
    <arg name="ROBOT_INITIAL_POSE2" value="-x 4 -y 7 " />
    <arg name="ROBOT_INITIAL_POSE3" value="-x 2 -y 6 " />
    <arg name="ROBOT_INITIAL_POSE4" value="-x 3 -y 5 " />



    <arg name="robot0" value="base0" />

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="use_sim_time" value="true" />
        <arg name="debug" value="false" />
        <arg name="gui" value="$(arg gui)" />
        <arg name="world_name" value="$(arg world_file)" />
        <arg name="verbose" value="true" />
    </include>

    <group ns="robot1">
        <include file="$(find turtlebot_gazebo)/launch/includes/$(arg base).launch.xml">
            <arg name="base" value="$(arg base)" />
            <arg name="stacks" value="$(arg stacks)" />
            <arg name="3d_sensor" value="$(arg 3d_sensor)" />
            <arg name="ROBOT_INITIAL_POSE" value="$(arg ROBOT_INITIAL_POSE0)" />
            <arg name="model" value="$(arg robot0)" />
        </include>

        <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
            <param name="publish_frequency" type="double" value="30.0" />
        </node>
    </group>

    <node pkg="nav_rvo" type="vel_obs_gazebo" name="vel_obs_gazebo" args="1" />

    <!--    spawn obstacles-->

    <!--    <node pkg="gazebo_ros" type="spawn_model" name="spawn_obstacle0"-->
    <!--          args="$(arg OBSTACLE_INITIAL_POSE0) -sdf -model obstacle0 -file $(find nav_simulation)/gazebo/worlds/model/cyl_obstacle.sdf" />-->

    <!--    <node pkg="gazebo_ros" type="spawn_model" name="spawn_obstacle1"-->
    <!--          args="$(arg OBSTACLE_INITIAL_POSE1) -sdf -model obstacle1 -file $(find nav_simulation)/gazebo/worlds/model/cyl_obstacle.sdf" />-->

    <!--    <node pkg="gazebo_ros" type="spawn_model" name="spawn_obstacle2"-->
    <!--          args="$(arg OBSTACLE_INITIAL_POSE2) -sdf -model obstacle2 -file $(find nav_simulation)/gazebo/worlds/model/cyl_obstacle.sdf" />-->

    <!--    <node pkg="gazebo_ros" type="spawn_model" name="spawn_obstacle3"-->
    <!--          args="$(arg OBSTACLE_INITIAL_POSE3) -sdf -model obstacle3 -file $(find nav_simulation)/gazebo/worlds/model/cyl_obstacle.sdf" />-->

    <!--    spawn targets-->

    <!--     <node pkg="gazebo_ros" type="spawn_model" name="spawn_target0"-->
    <!--          args="$(arg TARGET_INITIAL_POSE0) -sdf -model target0 -file $(find nav_simulation)/gazebo/worlds/model/target.sdf" />-->

    <!--    <node pkg="gazebo_ros" type="spawn_model" name="spawn_target1"-->
    <!--          args="$(arg TARGET_INITIAL_POSE1) -sdf -model target1 -file $(find nav_simulation)/gazebo/worlds/model/target.sdf" />-->

    <!--    <node pkg="gazebo_ros" type="spawn_model" name="spawn_target2"-->
    <!--          args="$(arg TARGET_INITIAL_POSE2) -sdf -model target2 -file $(find nav_simulation)/gazebo/worlds/model/target.sdf" />-->

    <!--    <node pkg="gazebo_ros" type="spawn_model" name="spawn_target3"-->
    <!--          args="$(arg TARGET_INITIAL_POSE3) -sdf -model target3 -file $(find nav_simulation)/gazebo/worlds/model/target.sdf" />-->


       <group ns="robot2">-->
         <include file="$(find turtlebot_gazebo)/launch/includes/$(arg base).launch.xml">
           <arg name="base" value="$(arg base)"/>
           <arg name="stacks" value="$(arg stacks)"/>
           <arg name="3d_sensor" value="$(arg 3d_sensor)"/>
           <arg name="ROBOT_INITIAL_POSE" value="$(arg ROBOT_INITIAL_POSE2)" />
           <arg name="model" value="$(arg model1)"/>
         </include>

    <!--      <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">-->
    <!--        <param name="publish_frequency" type="double" value="30.0" />-->
    <!--      </node>-->
    <!--   </group>

    <!--      <group ns="robot3">-->
    <!--      <include file="$(find turtlebot_gazebo)/launch/includes/$(arg base).launch.xml">-->
    <!--        <arg name="base" value="$(arg base)"/>-->
    <!--        <arg name="stacks" value="$(arg stacks)"/>-->
    <!--        <arg name="3d_sensor" value="$(arg 3d_sensor)"/>-->
    <!--        <arg name="ROBOT_INITIAL_POSE" value="$(arg ROBOT_INITIAL_POSE3)" />-->
    <!--        <arg name="model" value="$(arg model2)"/>-->
    <!--      </include>-->

    <!--      <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">-->
    <!--        <param name="publish_frequency" type="double" value="30.0" />-->
    <!--      </node>-->
    <!--   </group>-->

    <!--   <group ns="robot4">-->
    <!--      <include file="$(find turtlebot_gazebo)/launch/includes/$(arg base).launch.xml">-->
    <!--        <arg name="base" value="$(arg base)"/>-->
    <!--        <arg name="stacks" value="$(arg stacks)"/>-->
    <!--        <arg name="3d_sensor" value="$(arg 3d_sensor)"/>-->
    <!--        <arg name="ROBOT_INITIAL_POSE" value="$(arg ROBOT_INITIAL_POSE4)" />-->
    <!--        <arg name="model" value="$(arg model3)"/>-->
    <!--      </include>-->

    <!--      <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">-->
    <!--        <param name="publish_frequency" type="double" value="30.0" />-->
    <!--      </node>-->
    <!--   </group>-->

    <!--    <group ns="robot5">-->
    <!--        <include file="$(find turtlebot_gazebo)/launch/includes/$(arg base).launch.xml">-->
    <!--            <arg name="base" value="$(arg base)"/>-->
    <!--            <arg name="stacks" value="$(arg stacks)"/>-->
    <!--            <arg name="3d_sensor" value="$(arg 3d_sensor)"/>-->
    <!--            <arg name="ROBOT_INITIAL_POSE" value="$(arg ROBOT_INITIAL_POSE5)"/>-->
    <!--            <arg name="model" value="$(arg model4)"/>-->
    <!--        </include>-->

    <!--        <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">-->
    <!--            <param name="publish_frequency" type="double" value="30.0"/>-->
    <!--        </node>-->
    <!--    </group>-->

    <!--    <group ns="robot6">-->
    <!--        <include file="$(find turtlebot_gazebo)/launch/includes/$(arg base).launch.xml">-->
    <!--            <arg name="base" value="$(arg base)"/>-->
    <!--            <arg name="stacks" value="$(arg stacks)"/>-->
    <!--            <arg name="3d_sensor" value="$(arg 3d_sensor)"/>-->
    <!--            <arg name="ROBOT_INITIAL_POSE" value="$(arg ROBOT_INITIAL_POSE6)"/>-->
    <!--            <arg name="model" value="$(arg model5)"/>-->
    <!--        </include>-->

    <!--        <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">-->
    <!--            <param name="publish_frequency" type="double" value="30.0"/>-->
    <!--        </node>-->
    <!--    </group>-->

    <!--    <group ns="robot7">-->
    <!--        <include file="$(find turtlebot_gazebo)/launch/includes/$(arg base).launch.xml">-->
    <!--            <arg name="base" value="$(arg base)"/>-->
    <!--            <arg name="stacks" value="$(arg stacks)"/>-->
    <!--            <arg name="3d_sensor" value="$(arg 3d_sensor)"/>-->
    <!--            <arg name="ROBOT_INITIAL_POSE" value="$(arg ROBOT_INITIAL_POSE7)"/>-->
    <!--            <arg name="model" value="$(arg model6)"/>-->
    <!--        </include>-->

    <!--        <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">-->
    <!--            <param name="publish_frequency" type="double" value="30.0"/>-->
    <!--        </node>-->
    <!--    </group>-->

    <!--    <group ns="robot8">-->
    <!--        <include file="$(find turtlebot_gazebo)/launch/includes/$(arg base).launch.xml">-->
    <!--            <arg name="base" value="$(arg base)"/>-->
    <!--            <arg name="stacks" value="$(arg stacks)"/>-->
    <!--            <arg name="3d_sensor" value="$(arg 3d_sensor)"/>-->
    <!--            <arg name="ROBOT_INITIAL_POSE" value="$(arg ROBOT_INITIAL_POSE8)"/>-->
    <!--            <arg name="model" value="$(arg model7)"/>-->
    <!--        </include>-->

    <!--        <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">-->
    <!--            <param name="publish_frequency" type="double" value="30.0"/>-->
    <!--        </node>-->
    <!--    </group>-->


</launch>